
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Merienda', cursive; 
}

body {
  margin: 20px 0;
  background: #6589F9;
  background-image: url('Images/clubhouse.jpg')
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: #FAB942 url('Images/Disney-300x300.jpg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: url('Images/clubhouse.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: url('Images/clubhouse.jpg') !important;
}

.stats-container{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid white;
    border-radius: 20px; */
    
}

.title{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stats-title {
  display: flex;
  padding-right: 5px;
  font-weight: bold;
}

.games-played {
  display: flex;
}

.attempts {
  display: flex;
}

.accuracy {
  display: flex;
}

.value {
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  padding: 5px 20px;
  border-radius: 12px;
}
.btn:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #5a3fe9;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
